.nav-link {
  font-size: large;
  background-color: lightblue;
  color: darkblue;
  margin: .3em 0 .5em 1em;
}

.nav-link:hover{
  font-weight: 700;
  text-decoration: none;
}


h1{
  text-align: center; 
  padding:10px; 
  color: darkblue;
}
