<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <h1> Optevus Team </h1>
        <img src="./assets/images/logo.png"
             class="img-responsive center-block"
             style="height: 300px; max-height:500px; " />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Kahkeshan</h3>
      </div>

      <div class="text-center">@Kahkeshan</div>
      <div class="text-center">
        <a href="https://github.com/Kahkeshan04" target="_blank">https://github.com/Kahkeshan04</a>
      </div>
    </div>
  </div>
</div>
